opencv-python
spacy
tensorboard
tensorboardX
pillow
pycocotools
pyyaml
omegaconf
cloudpickle
hydra-core
termcolor
tqdm
matplotlib
scikit-image
click
torch_tb_profiler
wandb
accelerate
transformers
open_clip_torch